.navigation {
    max-width: 1220px;
    height: 75vh;
  
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  
    padding: 0rem 2rem;
    margin: auto;
  
    overflow: clip;
  }
  
  .navigation__text {
    display: flex;
    flex-direction: column;
  
    gap: 1rem;
    margin-top: 1rem;
    height: auto;
    width: 50%;
  
    color: #dcdcdc;
  }
  
  .navigation__text h1 {
    font-size: 3.75rem;
  
    padding: 1.25rem 1.25rem;
  }
  
  hr{
    width: 15rem;
    
    border-color: #8e8d8d;
  }
  
  .navigation__search {
    display: flex;
    justify-content: center;
  
    width: auto;
    height: auto;
  
    gap: 0.938rem;
  }
  
  .navigation__search-input {
      display: flex;
      align-items: center;
  
      margin-top: 3.125rem;
      width: 20rem;
      height: 3.5rem;
  
      background-color: #242424;
      border-radius: 31.25rem;
      border: 1px solid transparent;
    }
    
    .navigation__search .navigation__search-input .navigation__input-img img {
      width: 1.563rem;
      height: 1.563rem;
      margin-left: 0.625rem;
      margin-top: 0.313rem;
    }
    
    .navigation__search .navigation__search-input .navigation__input-cat input {
      background: transparent;
      border: none;
  
      padding: 0.938rem 6.25rem 0.938rem 0.75rem;
  
      max-width: 10.7rem;
  
      color: #8e8d8d;
  
      text-overflow: ellipsis;
      outline: none;
      overflow: hidden;
      white-space: nowrap;
    }
  
    #search-input {
      font-size: 1.063rem;
    }
  
    #list-cat {
      display: flex;
      align-items: center;
  
      font-size: 1.063rem;
      font-weight: lighter;
  
      background-color: #242424;
      color: #8e8d8d;
  
      cursor: pointer;
  
      margin-top: 3.125rem;
      padding: 0.5rem 0.5rem;
      width: 16.75rem;
      height: 3.625rem;
      
      border-radius: 31.25rem;
      border: 1px solid transparent;
    }
  
  
  .container__img {
    max-width: 45%;
  
    column-count: 3;
    column-gap: 1rem;
    margin: -1rem;
  }
  
  .container__img .figures img {
    width: 100%;
    border-radius: 0.5rem;
  }
  